/*Définition des variables de styles */
:root {
  --main-color: #0288a0;
  --main-color-70: #0288a0b3;
  --main-color-20: #0288a041;
  --contrast-color: #001c22;
  --light-color: #a2f1ff;
  --white : #F9F7F3;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--main-color-20);
}

header, footer {
  background-color: #0288a0;
  color: var(--white);
  padding: 0.625em 0;
  border-radius: 0 0 0.9375em 0.9375em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1.25em;
}

nav ul li a, .dropdown-content a {
  color: var(--white);
  text-decoration: none;
  padding: 0.625em;
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0288a0d2;
  z-index: 1;
  border-radius: 0.3125em;
}

.dropdown-content a:hover {
  background-color: #03545763;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.intro {
  text-align: center;
  margin-top: 3.125em;
}

.categories {
  margin: 3.125em auto;
  max-width: 50em;
}

.categories h2 {
  text-align: center;
  margin-bottom: 1.25em;
}

.categories nav ul li {
  position: relative;
}

.categories nav ul li .dropdown-content {
  top: 100%;
  left: 0;
}

.topic {
  background-color: var(--white);
  padding: 1.25em;
  margin-bottom: 1.25em;
  border-radius: 0.625em;
}

.sub-topic-container {
  display: none;
  position: absolute;
  background-color: #0288a0d2;
  z-index: 1;
  border-radius: 0.3125em;
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2);
}

.sub-topic-container ul {
  list-style: none;
}

.sub-topic-container ul li {
  margin-bottom: 0.3125em;
}

.sub-topic-container ul li:hover {
  background-color: #03545763;
}

.sub-topic-container ul li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding: 0.625em;
}

/* Début du style de l'exercice */
.exercise {
  width: 75%;
  margin: 0 auto;
  background-color: #0288a0d2;
  padding: 1.25em;
  margin-bottom: 1.25em;
  margin-top: 0.5em;
  border-radius: 0.625em;
}

.exercise h2 {
  color: #000d14;
}

.exercise-statement,
.exercise-correction {
  width: 100%;
}

.exercise-statement {
  background-color: #004855d2;
  color: var(--white);
  padding: 0.625em;
  border-radius: 0.3125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.exercise-statement:hover {
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.4);
  transform: scale(1.005);
}

.exercise-correction {
  background-color: #7bc51b62;
  padding: 0.625em;
  border-radius: 0 0 0.3125em 0.3125em;
  margin-top: -0.1em;
  display: none;
}

.hidden {
  display: none;
}

.toggle-correction {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
}

/* Animation for unfolding correction */


/* Menu des thème traitées dans le chapitre */

.exercise-menu {
  width: 11em;
  padding: 1.25em;
  margin: 1em 0 0 0.7em;
  border-radius: 0.9375em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  background-color: var(--contrast-color);
  color: var(--white);
  margin-bottom: 1.25em;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

.exercise-menu h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

.exercise-menu ul {
  list-style: none;
  padding: 0;
}

.exercise-menu li {
  margin-bottom: 0.625em;
}

.exercise-menu a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white); /* Change color as needed */
  display: block;
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.exercise-menu a:hover {
  background-color:var(--main-color-70); /* Change background color on hover */
  color: #8deeff; /* Change text color on hover */
  transform: scale(1.1); /* Scale effect on hover */
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.4);
}
